<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/nav-bar}"></th:block>
    </header>
    <main class="mt-5">
        <div class="bg-image-quote-all">
            <span style="visibility: hidden">....</span>
            <h1 class="text-center bold font-weight-bold text-dark">All Comments</h1>
            <hr class="hr-2 bg-dark">
            <table class="table table-hover w-75 mx-auto">
                <thead>
                <tr class="row mx-auto">
                    <th class="col-md-1 text-center">#</th>
                    <th class="col-md-3 text-center">Author</th>
                    <th class="col-md-3 text-center">Comment</th>
                    <th class="col-md-2 text-center">Restaurant</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="comment, iter : ${comments}">
                    <tr class="row mx-auto">
                        <th class="col-md-1 text-center" th:utext="${iter.index + 1}"></th>
                        <td class="col-md-3 text-center" th:utext="${comment.author}"></td>
                        <td class="col-md-3 text-center" th:utext="${comment.description}"></td>
                        <td class="col-md-2 text-center" th:utext="${comment.restaurant}"></td>
                        <td class="col-md-3 text-center">
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <a th:href="@{/comments/delete/{id}(id=${comment.id})}"
                                   class="btn btn-danger glow-button font-weight-bold text-white">Delete</a>
                            </th:block>
                        </td>
                    </tr>

                </tbody>
            </table>
            <hr class="hr-2 bg-dark">
            <span style="visibility: hidden">....</span>
        </div>
    </main>
    <footer>
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
</body>
</html>